*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  background: #eee;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poke-container{
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-card{
  width: 200px;
  height: 300px;
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Por si hace falta cambiar el tamaño */
.col-1 {
  flex-basis: 16%;
}

.col-2 {
  flex-basis: 32%;
}

.col-3 {
  flex-basis: 48%;
}

.col-4 {
  flex-basis: 64%;
}

.col-5 {
  flex-basis: 80%;
}

.col-6 {
  flex-basis: 96%;
}

/*Responsive Cols*/
@media only screen and (max-width: 480px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
      flex-basis: 100%;
  }
}